@charset "UTF-8";
@import url(/css/pico.min.css);

:root {
  --green: #00626d;
  --orange: #f76738;
  --yellow-dark: #ffc600;
  --yellow-light: #f8f76d;
  --yellow: --yellow-dark;
  --brown: #724100;
}

.framed-image {
  --size: 75vw;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}
.framed-image.bottom {
  background-position: bottom;
}
.framed-image.top {
  background-position: top;
}
.logo-container {
  background-color: var(--orange);
  padding: 3rem;
}
.logo-container .logo {
  display: block;
  margin: auto;
}
.logo-container h1 {
  color: white;
}
.grid {
  margin-bottom: 3rem;
}
.social-icon {
  width: 1.5rem;
  fill: currentColor;
}

@media (min-width: 1024px) {
  .logo-container .logo {
    height: 300px;
  }
  .logo-container h1 {
    font-size: 4rem;
  }
  .framed-image {
    --size: 450px;
  }
}
